<h2 mat-dialog-title>Значение площади</h2>
<mat-dialog-content>
    <form class="example-form" [formGroup]="formGroup">
        <p>
            <app-entity-input [lbl]="'Вид услуги'" [formGroup]="formGroup" formControlName="serviceId"
                [placeholder]="'Укажите вид услуги'"></app-entity-input>
        </p>
        <p>
            <app-entity-input [lbl]="'Поставщик'" [formGroup]="formGroup" formControlName="providerId"
                [placeholder]="'Укажите поставщика'"></app-entity-input>
        </p>
        <p>
            <app-entity-input [lbl]="'направление использования'" [formGroup]="formGroup"
                formControlName="directionOfUseId" [placeholder]="'Укажите направление использования'">
            </app-entity-input>
        </p>
        <p>
            <!-- <app-meter-add></app-meter-add> -->
        </p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close="">Отмена</button>
    <button mat-button [mat-dialog-close]="formGroup" cdkFocusInitial>Завершить</button>
</mat-dialog-actions>
