:host {
    width: 100%;
}

.mat-expansion-panel {
    margin-top: 15px;
}

.calculation-service-column {
    min-width: 120px;
}

.calculation-value {
    min-width: 30px;
    border-left-width: 1px;
    border-left-style: outset;
}