<mat-vertical-stepper #stepper>
  <mat-step [hasError]="roomPropertyHasError()">
    <form [formGroup]="keyRoomFormGroup">
      <ng-template matStepLabel>Данные помещения</ng-template>
      <p>
        <mat-form-field [formGroup]="keyRoomFormGroup">
          <mat-label>Наименование</mat-label>
          <input matInput placeholder="укажите наименование" formControlName="id">
          <mat-error *ngIf="idControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field [formGroup]="keyRoomFormGroup">
          <mat-label>Адрес</mat-label>
          <input matInput placeholder="укажите адрес" formControlName="address">
        </mat-form-field>
      </p>
      <mat-form-field appearance="fill" >
        <mat-label>Тип помещения</mat-label>
        <mat-select formControlName="roomTypeId">
          <mat-option  *ngFor="let key of roomTypesKeys" [value]="key">{{getRoomTypePresent(key)}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>
        <mat-form-field>
          <mat-label>Количество собственников</mat-label>
          <input matInput placeholder="Укажите количество собственников помещения" type="number"
                 formControlName="countOwner">
          <mat-error *ngIf="countOwnerControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="countOwnerControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Количество прописанных</mat-label>
          <input matInput placeholder="Укажите количество прописанных в помещении" type="number"
                 formControlName="countSubscribed">
          <mat-error *ngIf="countPrescribedControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="countPrescribedControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Количество проживающих</mat-label>
          <input matInput placeholder="Укажите количество проживающих в помещении" type="number"
                 formControlName="countResident">
          <mat-error *ngIf="countResidentsControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="countResidentsControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Площадь помещения</mat-label>
          <input matInput placeholder="Укажите значение площади" type="number"
                 formControlName="square">
          <mat-error *ngIf="squareControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="squareControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
      </p>
      <div>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="accountingPointsArray()" errorMessage="Должна быть добавленна хотя бы одна строка">
    <form [formGroup]="accountingPointFormGroup">
      <ng-template matStepLabel>Услуги</ng-template>
      <ng-template matStepContent>
        <accounting-point-service-list [formArray]="accountingPointFormArray"></accounting-point-service-list>
        <div>
          <button mat-button matStepperNext>Далее</button>
        </div>
      </ng-template>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Завершение</ng-template>
    <p>Будет создано новое помещение {{keyRoomFormGroup.get('id')?.value}}</p>
    <p>Адрес {{keyRoomFormGroup.get('address')?.value}}</p>
    <p>Количество собственников: {{keyRoomFormGroup.get('countOwner')?.value}}</p>
    <p>Количество проживающих: {{keyRoomFormGroup.get('countResident')?.value}}</p>
    <p>Количество прописанных: {{keyRoomFormGroup.get('countSubscribed')?.value}}</p>
    <p>Значение площади: {{keyRoomFormGroup.get('square')?.value}}</p>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="save()">Записать
        <mat-icon *ngIf="saveInProgress">
          <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
