<div fxLayout="column" fxFill class="card-container">
  <mat-tab-group>
    <mat-tab label="Точки учета" >     
      <div fxLayout="column">
        <div *ngIf="itemsIsLoaded == false" fxLayout="column" fxFill fxLayoutAlign="center center">
          <mat-spinner style="margin-top: 100px;"></mat-spinner>
        </div>
        <div *ngIf="itemsIsLoaded == true" fxLayout="row wrap">
          <button mat-button color="primary" routerLink="new">Добавить</button>
        </div>
        <div *ngIf="itemsIsLoaded == true" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center start" fxFlexFill>
          <app-accounting-point-item *ngFor="let item of accountingPoints | async" [item]="item">
          </app-accounting-point-item>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Прочие услуги">
      <div fxLayout="column" fxFill fxLayoutAlign="center center">
        <div *ngIf="simpleServiceIsLoaded == false" fxLayout="row wrap" fxLayoutGap="10px">
          <mat-spinner style="margin-top: 100px;"></mat-spinner>
        </div>       
        <div *ngIf="simpleServiceIsLoaded == true" fxLayout="row wrap" fxLayoutGap="10px">
          <app-simple-service *ngFor="let item of simpleServices | async;" [item]="item"></app-simple-service>
        </div>
      </div>      
    </mat-tab>
  </mat-tab-group>
</div>