<h2 mat-dialog-title>Соотвествие тарифных групп и видов благоустройств</h2>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="formGroup">
        <p>
            <app-service-input [lbl]="'Вид услуги'" [formGroup]="formGroup" formControlName="serviceId"
                [placeholder]="'Укажите вид услуги'"></app-service-input>
        </p>
        <p>
            <app-improvement-type-input [lbl]="'Вид благоустройства'" [formGroup]="formGroup"
                formControlName="improvementTypeId" [placeholder]="'Укажите вид благоустройства'">
            </app-improvement-type-input>
        </p>
        <p>
            <app-rate-group-input [lbl]="'Тарифная группа'" [formGroup]="formGroup" formControlName="rateGroupId"
                [placeholder]="'Укажите тарифную группу'"></app-rate-group-input>
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Отмена</button>
    <button mat-button [mat-dialog-close]="formGroup" cdkFocusInitial>Ok</button>
</div>
