<mat-toolbar color="primary">

  <a mat-button routerLink="/key-room">
    <span class="mat-button-wrapper">
      <mat-icon>home</mat-icon>
      <span>Домой</span>
    </span>
  </a>
  <a mat-button routerLink=".">
    <span class="mat-button-wrapper">
      <mat-icon>email</mat-icon>
      <span>Сообщения</span>
    </span>
  </a>
<!--  <a mat-button routerLink="/prices">Сообщения</a>-->


<!--  <mat-icon mat-list-icon>email</mat-icon>-->
  <span style="flex: 1 1 auto;"></span>
  <ng-container *ngIf="currentUser | async ">
    <button mat-button [matMenuTriggerFor]="menuAccount">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAccount="matMenu">
      <button mat-menu-item>Настройки</button>
      <button mat-menu-item (click)="logout()">Выход</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
