<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon svgIcon="logo"></mat-icon>
  </button>
  <a mat-button>Взаиморасчеты</a>
  <a mat-button>История оплат</a>
  <span style="flex: 1 1 auto;"></span>
  <ng-container *ngIf="currentUser">
    <button mat-button [matMenuTriggerFor]="menuAccount">{{(currentUser | async)?.userName}}
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAccount="matMenu">
      <button mat-menu-item>Настройки</button>
      <button mat-menu-item>Выход</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
