<h2 mat-dialog-title>Значение площади</h2>
<mat-dialog-content>
    <form class="example-form" [formGroup]="formGroup">
        <p>
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Укажите вид услуги" aria-label="Number" matInput
                    formControlName="squareTypeId" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let improvementType of improvementTypes" [value]="improvementType.id">
                        {{improvementType.present}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Значение площади</mat-label>
                <input matInput placeholder="Укажите значение площади" value="50" type="number">
              </mat-form-field>
        </p>        
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="formGroup.value" cdkFocusInitial>Завершить</button>
</mat-dialog-actions>