<div fxLayout="column" fxLayoutAlign="center center" class="login-container">
  <mat-card fxFlex="40%">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="userNameControl?.hasError('email') || userNameControl?.hasError('required')">
            Please enter email
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
