<div *ngIf="itemsIsLoaded == false" fxLayout="column" fxFill fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="itemsIsLoaded" fxLayout="column" class="card-container" >
  <div fxLayout="row wrap" class="button-row">
    <button mat-button color="primary" routerLink="new">Добавить</button>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start start">
    <app-key-room-item *ngFor="let item of items | async;" [item] ="item" [chooseMode]="true" (onChoose)="serCurrent($event)"></app-key-room-item>
  </div>
</div>
