<button mat-button color="primary" (click)="setCurrentCustomer()">Назад</button>
<mat-list>
    <mat-list-item> Лицевой счет {{customer.lsNumber}} </mat-list-item>
    <mat-list-item> ФИО: {{customer.present}} </mat-list-item>
    <mat-list-item> Адрес: {{customer.address}} </mat-list-item>
    <mat-list-item> Дата состояния: {{customer.stateChangeAt | date:'shortDate'}} </mat-list-item>
    <mat-list-item>
        <div>Состояние: {{customer.isActive ? 'Открыт': 'Закрыт'}}</div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Изменить</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>История</span>
            </button>
        </mat-menu>
    </mat-list-item>
    <mat-list-item>
        <div>Задолженность: {{customer.debt}} р</div>
    </mat-list-item>
    <mat-list-item>
        <div>Количество проживающих: {{customer.countResident}}</div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Изменить</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>История</span>
            </button>
        </mat-menu>
    </mat-list-item>
    <mat-list-item>
        <div>Количество прописанных: {{customer.countPrescribed}}</div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Изменить</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>История</span>
            </button>
        </mat-menu>
    </mat-list-item>
    <mat-list-item>
        <div>Количество собственников: {{customer.countOwner}}</div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Изменить</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>История</span>
            </button>
        </mat-menu>
    </mat-list-item>
    <mat-list-item>
        <div>Общая площадь: {{customer.totalSquare}}</div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Изменить</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>История</span>
            </button>
        </mat-menu>
    </mat-list-item>
    <mat-list-item>
        <div>Контроллер: Имя контроллера</div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Изменить</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>История</span>
            </button>
        </mat-menu>
    </mat-list-item>
</mat-list>