.meter-card{
  /*min-width: 350px;*/
  margin-top: 10px;
}


.meter-property-column{
  min-width: 130px;
}
.meter-value-column{
  min-width: 80px;
}
.meter-row-property-action{
  max-width: 60px;
}






