.meter-card{
  min-width: 230px;
  margin-top: 10px;
  max-width: 450px;
}


.meter-row-property-action{
  max-width: 20px;
  padding-right: 10px;
}

td {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: inherit;
}

tr {
  background: inherit;
  border-bottom-color: rgba(0,0,0,.12);
  max-height: 40px;
  min-height: 40px;
  display: flex;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
}

.content-center {
  justify-content: center;
  text-align: center;
}
