<mat-card style="height: 100%; width: 100%;">
  <mat-card-content>
      <mat-list>
          <mat-list-item> Лицевой счет 123123123 </mat-list-item>
          <mat-list-item> ФИО: Иванов Иван Иванович </mat-list-item>
          <mat-list-item> Дата состояния: 2021-18-99 </mat-list-item>
          <mat-list-item>
              <div>Состояние: Открыт</div>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                      <mat-icon>close</mat-icon>
                      <span>Закрыть</span>
                  </button>
                  <button mat-menu-item>
                      <mat-icon>history</mat-icon>
                      <span>История</span>
                  </button>
              </mat-menu>
          </mat-list-item>
          <mat-list-item>
              <div>Задолженность: 300 р</div>
          </mat-list-item>
          <mat-list-item>
              <div>Проживающих: 2</div>
              <button mat-icon-button [matMenuTriggerFor]="menuCountResident"
                  aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuCountResident="matMenu">
                  <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                  </button>
                  <button mat-menu-item>
                      <mat-icon>history</mat-icon>
                      <span>История</span>
                  </button>
              </mat-menu>
          </mat-list-item>
          <mat-list-item>
              <div>Прописанных: 1</div>
              <button mat-icon-button [matMenuTriggerFor]="menuCountPrescribed"
                  aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuCountPrescribed="matMenu">
                  <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                  </button>
                  <button mat-menu-item>
                      <mat-icon>history</mat-icon>
                      <span>История</span>
                  </button>
              </mat-menu>
          </mat-list-item>
          <mat-list-item>
              <div>Собственников: 3</div>
              <button mat-icon-button [matMenuTriggerFor]="countOwnerMenu"
                  aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #countOwnerMenu="matMenu">
                  <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/people-history', '1']">
                      <mat-icon>history</mat-icon>
                      <span>История</span>
                  </button>
              </mat-menu>
          </mat-list-item>
          <mat-list-item>
              <div>Общая площадь: 40</div>
              <button mat-icon-button [matMenuTriggerFor]="menuTotalSquare"
                  aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuTotalSquare="matMenu">
                  <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/square-values', '1']">
                      <mat-icon>history</mat-icon>
                      <span>История</span>
                  </button>
              </mat-menu>
          </mat-list-item>
          <mat-list-item>
              <div>Контроллер: Имя контроллера</div>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                  </button>
                  <button mat-menu-item>
                      <mat-icon>history</mat-icon>
                      <span>История</span>
                  </button>
              </mat-menu>
          </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>