<mat-vertical-stepper #stepper>
  <mat-step [hasError]="roomPropertyHasError()">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Данные помещения</ng-template>
      <p>
        <app-building-input></app-building-input>
      </p>
      <p>
        <mat-form-field [formGroup]="formGroup">
          <mat-label>Помещение</mat-label>
          <input matInput placeholder="укажите помещение" formControlName="roomId" type="number">
        </mat-form-field>

      </p>
      <mat-form-field appearance="fill" formControlName="roomTypeId" ngDefaultControl>
        <mat-label>Тип помещения</mat-label>
        <mat-select>
          <mat-option *ngFor="let item  of [{id: 1, present: 'Квартира'},{id: 1, present: 'Частный дом'}]"
                      [value]="item.id">
            {{item.present}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>
        <mat-form-field>
          <mat-label>Количество собственников</mat-label>
          <input matInput placeholder="Укажите количество собственников помещения" type="number"
                 formControlName="countOwner">
          <mat-error *ngIf="countOwnerControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="countOwnerControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Количество прописанных</mat-label>
          <input matInput placeholder="Укажите количество прописанных в помещении" type="number"
                 formControlName="countPrescribed">
          <mat-error *ngIf="countPrescribedControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="countPrescribedControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Количество проживающих</mat-label>
          <input matInput placeholder="Укажите количество проживающих в помещении" type="number"
                 formControlName="countResidents">
          <mat-error *ngIf="countResidentsControl().hasError('required')">
            Значение обязательно для заполнения
          </mat-error>
          <mat-error *ngIf="countResidentsControl().hasError('min')">
            Значение должно быть больше 0
          </mat-error>
        </mat-form-field>
      </p>
      <div>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step  [stepControl]="squareValuesArray()" errorMessage="Должна быть добавленна хотя бы одна строка">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Площади помещения</ng-template>
      <ng-template matStepContent>
<!--        <app-square-room-add [formArray]="squareValuesArray()"></app-square-room-add>-->
        <div>
          <button mat-button matStepperNext>Далее</button>
        </div>
      </ng-template>
    </form>
  </mat-step>
  <mat-step [stepControl]="improvementTypesArray()" errorMessage="Должна быть добавленна хотя бы одна строка">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Виды благоустройств</ng-template>
      <ng-template matStepContent>
<!--        <app-improvement-type-row-list [formArray]="improvementTypesArray()"></app-improvement-type-row-list>-->
        <div>
          <button mat-button matStepperNext>Далее</button>
        </div>
      </ng-template>
    </form>
  </mat-step>
  <mat-step [stepControl]="accountingPointsArray()" errorMessage="Должна быть добавленна хотя бы одна строка">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Услуги</ng-template>
      <ng-template matStepContent>
<!--        <accounting-point-service-list [formArray]="accountingPointsArray()"></accounting-point-service-list>-->
        <div>
          <button mat-button matStepperNext>Далее</button>
        </div>
      </ng-template>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Завершение</ng-template>
    <p>Будет создано новое помещение с параметрами</p>
    <p>Строение: {{formGroup.get('buildingId')?.value}}</p>
    <p>Помещение: {{formGroup.get('roomId')?.value}}</p>
    <p>Количество собственников: {{formGroup.get('countOwner')?.value}}</p>
    <p>Количество проживающих: {{formGroup.get('countResidents')?.value}}</p>
    <p>Количество прописанных: {{formGroup.get('countPrescribed')?.value}}</p>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="save()">Записать</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
