:host {
    height: 100%;
}

.example-card{
    margin-top: 10px;
    max-width: 200px;
    width: 200px;
}

.example-card:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.card-container {
    padding-left: 10px;
}

.button-row{
    width: 100%;
}
