<mat-card class="calculation-attacment-card">
    <mat-card-header>
        <mat-card-subtitle>item.provider</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
        </div>
    </mat-card-actions>
</mat-card>