<button mat-raised-button (click)="backLocation()">Назад</button>
<table mat-table [dataSource]="items" class="mat-elevation-z8">

    <!-- service Column -->
    <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Дата</th>
        <td mat-cell *matCellDef="let item"> {{item.period | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="squareType">
        <th mat-header-cell *matHeaderCellDef>Вид площади</th>
        <td mat-cell *matCellDef="let item"> {{getSquareTypePresent(item.squareTypeId)}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Значение</th>
        <td mat-cell *matCellDef="let item"> {{item.value]} </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>