.accounting-point-card{
  min-width: 280px;
  margin-top: 10px;
  max-width: 430px;
}

.card-container-left {
  height: 100%;
  width: 100%;
}

.app-mat-list-item {
  height: 35px !important;
  font-size: 14px;
}
