.accounting-point-card{
  min-width: 280px;
  margin-top: 10px;
  /*max-width: 430px;*/
}

.small-accounting-point-card {
  min-width: 240px;
}

.card-container-left {
  height: 100%;
  width: 100%;
}

.app-mat-list-item {
  height: 35px !important;
  font-size: 14px;
}

.accounting-pint-property-column{
  max-width: 85px;
}
