.accounting-point-card{
  min-width: 290px;
  margin-top: 10px;
  /*max-width: 430px;*/
}

.small-accounting-point-card {
  min-width: 200px;
}

.card-container-left {
  height: 100%;
  width: 100%;
}

.app-mat-list-item {
  height: 35px !important;
  font-size: 14px;
}
