<mat-dialog-content>
  <form [formGroup]="formGroup">
    <h4>Текущее значение : {{valuePresent}}</h4>
    <app-date-input [lbl]="'Дата'" [formGroup]="formGroup" formControlName="editableDate"
                    [placeholder]="'Укажите текущее значение'"></app-date-input>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Отмена</button>
  <button mat-button  cdkFocusInitial (click)="complete()">Завершить
    <mat-icon *ngIf="saveInProgress">
      <mat-spinner color="accent" diameter="20"></mat-spinner>
    </mat-icon>
  </button>
</mat-dialog-actions>
