.mat-expansion-panel {
    margin-top: 15px;
}

.calculation-service-column {
    min-width: 120px;
}

.calculation-value {
    min-width: 30px;
    border-left-width: 1px;
    border-left-style: outset;
}

.calculation-attacment-card {
    margin-top: 10px;
    margin-left: 10px;
}

.calculation-attacment-add-card {
    margin-top: 10px;
    margin-left: 10px;
    min-height: 157px;
    min-width: 89px;
}

.calculation-attacment-add-column {
    min-height: 157px;
}