<mat-card class="key-room-card" (click)=onClick()>
  <mat-card-content>
    <table class="app-table">
      <tr *ngFor="let key of keys">
        <td class="key-room-property-column">{{getPropertyPresent(key)}}</td>
        <td>{{getValuePresent(key)}}</td>
        <td class="app-action-column">
          <button mat-icon-button [matMenuTriggerFor]="menuType" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuType="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Изменить</span>
            </button>
            <button mat-menu-item>
              <mat-icon>history</mat-icon>
              <span>История</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
