<ng-container [formGroup]>
    <p>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Укажите заводской номер" aria-label="Number" matInput
                formControlName="factoryNumber">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Укажите модель прибора" aria-label="Number" matInput
                formControlName="modelId" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let improvementType of improvementTypes" [value]="improvementType.id">
                    {{improvementType.present}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Укажите коэффициент трансформации" aria-label="Number" matInput
                formControlName="coefficient">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Дата следующей поверки</mat-label>
            <input matInput [matDatepicker]="dpVerification">
            <mat-datepicker-toggle matSuffix [for]="dpVerification"></mat-datepicker-toggle>
            <mat-datepicker #dpVerification></mat-datepicker>
        </mat-form-field>
    </p>
</ng-container>