<mat-dialog-content>
  <form [formGroup]="formGroup">
      <h4>Текущее значение : {{valuePresent}}</h4>
      <mat-form-field [formGroup]="formGroup">
        <input matInput formControlName="editableValue" type="number">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Отмена</button>
  <button mat-button  cdkFocusInitial (click)="complete()">Завершить
    <mat-icon *ngIf="saveInProgress">
      <mat-spinner color="accent" diameter="20"></mat-spinner>
    </mat-icon>
  </button>
</mat-dialog-actions>
