<div fxLayout="row wrap">
    <div fxFlex="50%" *ngFor="let item of [0,1,2,3,4,5,6]">
        <mat-card class="example-card">
            <mat-card-content>
                <table>
                    <tr>
                        <td>Наименование</td>
                        <td>Кухня</td>
                    </tr>
                    <tr>
                        <td>Услуга</td>
                        <td>ХВС+Водоотведение</td>
                    </tr>
                    <tr>
                        <td>Поставщик</td>
                        <td>МУП Водоканал</td>
                    </tr>
                    <tr>
                        <td>Прибор учета</td>
                        <td>5151515/СГВ-15</td>
                    </tr>
                    <tr>
                        <td>Дата установки</td>
                        <td>01-01-2020</td>
                    </tr>
                    <tr>
                        <td>Вид дифифиринцированности</td>
                        <td>Однотарифный</td>
                    </tr>
                    <tr>
                        <td>Последние показания</td>
                        <td>9898989</td>
                    </tr>
                </table>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Отключить</button>
                <button mat-button>Вывести прибор</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>