<div fxLayout="column" fxFlex="75%" fxLayoutGap="10px" class="card-container">
    <div>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Точки учета
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start">
                <div fxLayout="row wrap">
                    <button mat-button color="primary">Добавить</button>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="10px">
                    <app-accounting-point-item *ngFor="let item of accountingPoints | async; let i = index" [item]="item"></app-accounting-point-item>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Прочие услуги
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row wrap" fxLayoutGap="10px">
                    <app-simple-service *ngFor="let item of simpleServices | async; let i = index" [item]="item"></app-simple-service>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>
<div fxLayout="column" fxFlex="20%" fxLayoutGap="10px" class="card-container-left" fxLayoutAlign="start start">
    <app-contract-info></app-contract-info>
</div>
